# noisy diffs
flake.lock -diff

# treat age as binary
*.age -text -diff

# git lfs
*.png filter=lfs diff=lfs merge=lfs -text

# Make sure eval-secrets is encrypted
eval-secrets.json filter=git-crypt diff=git-crypt
.gitattributes !filter !diff
